:root {
    --top--become: 5rem;
    --bottom--become: 5rem;
    --burger--top: 4.5rem;
    --burger--folder: 16rem;
    --burger--bottom: 4.5rem;
}

.bg-color-gradient-bnb {
    background: url('https://a0.muscache.com/im/pictures/Hosting/Gradient/original/4abb91ab-2c70-46d7-80a5-9c83ef0221ef.png');
    background-size: 200% 100% !important;
}