.navbar {
    height: 4rem;
    max-height: 4rem;
    width: 100%;
    z-index: 50;
    background-color: white;
    border-bottom: 1px solid #dfdfdf;
}

.navbar-employee {
    display: flex;
    align-items: center;
    padding: var(--navbar-padding, 0.5rem);
    min-height: 4rem;
    background-color: white;  
    z-index: 50;
    width: 100%;
}

:where(.navbar > *) {
    display: inline-flex;
    align-items: center;
}

.navbarbig {
    display: flex;
    align-items: center;
    min-height: var(--navbar--big);
    width: 100%;
    position: relative;
}

.navbody {
    position: relative;
    height: 100%;
    width: 100%;
}

.navleft {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.navcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navright {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}