@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter", -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

.bodyca {
  height: calc(100vh - var(--navbar--big) - var(--footer--big));
}

:root {
  --navbar--big: 6rem;
  --footer--big: 5.5rem;

  --nav--starter: 5rem;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./font/Inter-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./font/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./font/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./font/Inter-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./font/Inter-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./font/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./font/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./font/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./font/Inter-Thin.ttf") format("truetype");
  font-weight: 100;
}

@layer base {
  .superborder {
    @apply duration-150;
    @apply border;
    @apply border-supergray/20;
    @apply hover:border-supergray;
    @apply hover:bg-gray-50
  }
}

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}