@tailwind base;
@tailwind components;
@tailwind utilities; 

body {
  margin: 0;
  font-family: "Inter", -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

.bodyca {
  height: calc(100vh - var(--navbar--big) - var(--footer--big));
}

:root {
  --navbar--big: 6rem;
  --footer--big: 5.5rem;

  --nav--starter: 5rem;
  --footer--starter: 5rem;
}

.mapbox-improve-map {
  display: none;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./font/Inter-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./font/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./font/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./font/Inter-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./font/Inter-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./font/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./font/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./font/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./font/Inter-Thin.ttf") format("truetype");
  font-weight: 100;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer base {
  .superborder {
    @apply duration-150;
    @apply border;
    @apply border-supergray/20;
    @apply hover:border-supergray;
    @apply hover:bg-gray-50
  }

  .superborder-b {
    @apply duration-150;
    @apply border-b;
    @apply border-supergray/20;
    @apply hover:border-supergray;
  }

  .newborder {
    @apply duration-150;
    @apply active:scale-98;
    @apply p-6;
    @apply bg-white;
    @apply hover:bg-stone-50 ;
    @apply rounded-xl;
    @apply ring-1 ;
    @apply ring-gray-200 ;
    @apply hover:ring-2 ;
    @apply hover:ring-supergray ;
    @apply duration-150 ;
    @apply overflow-hidden;
  }

  .contenerdiv {
    @apply py-6;
    @apply w-full
  }
  .contenertitle {
    @apply pb-5;
    @apply font-semibold;
    @apply text-xl;
    @apply text-supergray;
  }
  .contenermore {
    @apply mt-4;
    @apply underline;
    @apply font-normal;
    @apply font-semibold;
    @apply text-supergray;
    @apply leading-snug;
    @apply hover:bg-gray-50;
    @apply rounded-lg;
    @apply px-3;
    @apply py-2;
    @apply -translate-x-3
  }

  .contenerbtn {
    @apply mt-6;
    @apply rounded-lg;
    @apply font-medium;
    @apply text-base;
    @apply text-supergray;
    @apply outline;
    @apply outline-1;
    @apply outline-stone-400;
    @apply hover:outline-2;
    @apply hover:outline-black;
    @apply px-5;
    @apply py-2.5
  }

  .divstatus {
    @apply py-6;
    @apply flex;
    @apply flex-col;
    @apply space-y-5;
}

}

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}